<!-- Navigation : side -->
<!-- Posición : none - left -->
<!-- Style : none - diamond - square - line - pole -->
<!-- Size : none - medium - small -->
<nav class="side">
    <div class="navigation default">
        <ul></ul>
    </div>
</nav>


<!-- Barra de progreso de carga -->
<div class="progress-bar pink"></div>

<nav class="panel top ">
    <div class="sections desktop">
        <div class="left"><a href="#" title="Slides Framework"><img width="300" height="70" src="assets/img/home/brands/logotipo.png" alt=""></a></div>
        <div class="center">
            <ul class="menu uppercase">
                <li class="md-18"><a href="#homepage"><span class=" text-amber bold">Homepage</span></a></li>
                <li class="md-18"><a href="#tienda"><span class="text-amber bold">Tienda</span></a></li>
                <li class="md-18"><a href="#contacto"><span class="text-amber bold">Contacto</span></a></li>
            </ul>
        </div>
        <div class="right">
            <ul class="menu trim">
                <li ><a  href="http://facebook.com" target="_blank"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a></li>
                <li><a href="http://twitter.com" target="_blank"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a></li>
                <li class="cropRight"><a href="http://instagram.com" class="trimRight" target="_blank"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use></svg></a></li>
            </ul>
        </div>
    </div>
    <div class="sections compact hidden">
        <div class="left"><a href="#" title="Slides Framework"><a href="#" title="Slides Framework"><img width="200" height="50" src="assets/img/home/brands/logotipo.png" alt=""></a></div>
        <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span></div>
    </div>
</nav>

