<!-- Sidebar -->
<nav class="sidebar" data-sidebar-id="1">
    <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
    <div class="content">
        <a href="#" class="logo"><img width="300" height="70" src="assets/img/home/brands/logotipo.png" alt=""></use></svg></a>
        <ul class="mainMenu margin-top-3">
            <li><a href="#homepage">homepage</a></li>
            <li><a href="#tienda">tienda</a></li>
            <li><a href="#contacto">contacto</a></li>

        </ul>

        <ul class="social opacity-8">
            <li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a></li>
            <li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a></li>
            <li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use></svg></a></li>
        </ul>
    </div>
</nav>