<script> //- https://www.getrandomthings.com/list-common-fruits.php

    -

        website.fruits[0] = {

            "name" : "Apple",
            "image" : "https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Red_Apple.jpg/265px-Red_Apple.jpg",
            "price" : 35,

        }


        website.fruits[1] = {

            "name" : "Banana",
            "image" : "https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Bananas_white_background_DS.jpg/320px-Bananas_white_background_DS.jpg",
            "price" : 12,

        }




        website.fruits[2] = {

            "name" : "Grapes",
            "image" : "https://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Table_grapes_on_white.jpg/320px-Table_grapes_on_white.jpg",
            "price" : 45,

        }




        website.fruits[3] = {

            "name" : "Pineapple",
            "image" : "https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Pineapple_and_cross_section.jpg/286px-Pineapple_and_cross_section.jpg",
            "price" : 200,

        }



</script>
