<script> //- https://es.fakenamegenerator.com/gen-male-us-us.php

    -


        website.people[0] = {

        name: "Alan M. Raymond",
        email: "AlanMRaymond@gustr.com",
        phone: "678-887-5579",
        country: "Estados Unidos",
        state: "PA",
        city: "Philadelphia",

        }


        website.people[1] = {

        name: "Mark J. Johnson",
        email: "MarkJJohnson@superrito.com",
        phone: "251-369-3220",
        country: "Estados Unidos",
        state: "TN",
        city: "Nashville",

        }




        website.people[2] = {

        name: "Marc L. Reagle",
        email: "MarcLReagle@superrito.com",
        phone: "915-298-4433",
        country: "Estados Unidos",
        state: "OH",
        city: "Dayton",

        }




        website.people[3] = {

        name: "Alan M. Raymond",
        email: "AlanMRaymond@gustr.com",
        phone: "678-887-5579",
        country: "Estados Unidos",
        state: "GA",
        city: "Metasville",

        }


</script>
