<script>

    -


        let whatsapp_number = '56961923035';


        let fingerprint = randomMinMax(1000000,9999999);


        //- Categorías
        let website = {

            people : [],
            fruits : [],
            cars : [],

        };




</script>
