//- ::: Button Language ::: -// ---------------------------------------------------------------------------------------->


mixin multilingual()
    <nav class="panel fixed bottom forceMobilView">
        <div class="sections desktop">
            <div class="right">

                <span data-dropdown-id="language" class="button center actionButton dropdownTrigger margin-bottom-8">es</span>

            </div>
        </div>
    </nav>

    <div class="dropdown translate bottom right" data-dropdown-id="language">
        <ul>
            <li class="active" data-switch-lang="es">Espa침ol</li>
            <li data-switch-lang="en">English</li>
        </ul>
    </div>


//- ::: Bot칩n WhatsApp Homepage ::: -// ---------------------------------------------------------------------------------------->

mixin nav_fixed_whatsapp_default()
    <nav class="panel fixed bottom forceMobilView">
        <div class="sections desktop">
            <div class="right">

                <a data-lang="es" href="https://api.whatsapp.com/send?phone=#{ whatsapp_number }&text=춰Hola%20游뻟릖!,%20Tengo%20algunas%20dudas%20쯠e%20podr칤an%20asesorar?%20游땕" target="_blank">

                            <span class="button center actionButton dropdownTrigger social-whatsapp margin-bottom-2">
                                <span class="material-icons" style="font-size: 34px !important; top: -5px; left: -5px">whatsapp</span>
                            </span>

                </a>


                <a data-lang="en" href="https://api.whatsapp.com/send?phone=#{ whatsapp_number }&text=춰Hi%20游뻟릖!,%I%20have%20some%20doubts,%20could%20you%20advise%20me?%20游땕" target="_blank" style="display: none">

                            <span class="button center actionButton dropdownTrigger social-whatsapp margin-bottom-2">
                                <span class="material-icons" style="font-size: 34px !important; top: -5px; left: -5px">whatsapp</span>
                            </span>

                </a>

            </div>
        </div>
    </nav>



//- ::: Formulario / Bot칩n de Env칤o ::: -// ---------------------------------------------------------------------------------------->

mixin form_brochure_submit()

    <script type="text/javascript">var submitted = false;</script>
    <iframe name="hidden_iframe_1" id="hidden_iframe_1" style="display:none;" onload="if(submitted)  { var element = document.getElementById('form_program_submit');  element.classList.toggle('green') ; element.classList.toggle('disableClick') ; element.innerHTML = 'Solicitud Enviada';  Swal.fire({position: 'center',icon: 'success',title: 'Solicitud Env칤ada, Instrucciones en tu correo electr칩nico',showConfirmButton: false, timer: 3750 }) ; setTimeout(function(){ window.location='/'}, 4500) }"></iframe>


//- ::: Formulario  ::: -// ---------------------------------------------------------------------------------------->

mixin form_personalized_attention()
    +form_brochure_submit()

    //- Formulario
    <form data-lang="es" id="form_program" action="https://docs.google.com/forms/u/2/d/e/1FAIpQLSeARiLWMCdtXDF3MV073n3QundoRekmAFgrL16nI_y3xQaXHw/formResponse" class="slides-form wide left" method="post" target="hidden_iframe_1" onsubmit="submitted=true;">

        <ul class="flex noSpaces">
            <li class="col-12-12 form-55-input-1">

                //- Nombre Completo
                <div class="label"><label class="left opacity-5" for="first_name_es"> <span class="material-icons relative" style="bottom: -6px">account_circle</span> Nombre</label></div>
                <input class="rounded wide" id="first_name_es" type="text" name="entry.980707971" placeholder="Ingrese su Nombre" pattern="^\[a-zA-Z칌침]{3,}$" title="Ingrese un Nombre V치lido" required/>
            </li>



            <li class="col-12-12 form-55-input-1">

                //- Correo Electr칩nico
                <div class="label"><label class="opacity-5" for="email_es"><span class="material-icons relative" style="bottom: -6px">email</span> Correo Electr칩nico</label></div>
                <input class="rounded wide" id="email_es" type="email" name="entry.907151027" placeholder="Ingrese su Correo Electr칩nico" pattern="^\[^@]+@[^@]+\.[a-zA-Z]{2,}$" title="Ingresa un Correo V치lido" required/>

            </li>



            <li class="col-12-12 form-55-input-1">

                //- WhatsApp
                <div class="label"><label class="left opacity-5" for="mobile_phone_es"> <span class="material-icons relative" style="bottom: -7px">smartphone</span> M칩vil ( +56912341234 )</label></div>
                <input class="rounded wide" id="mobile_phone_es" type="text" name="entry.1374984676" placeholder="Ingrese M칩vil" value="+569" pattern="^\+[0-9]{10,13}$" title="Ingresar WhatsApp V치lido, Ejemplo: +56912341234 o del formato de tu pa칤s" required/>


            </li>


            <li class="col-12-12 form-55-input-1">

                <div class="label"><label class="opacity-5" for="program_name_es"><span class="material-icons relative" style="bottom: -6px">description</span> Nombre del Programa</label></div>

                //- Nombre del Servicio
                <select class="rounded wide" name="entry.1319290824" id="program_name_es">

                    <option value="Faldas y vestidos" selected>Faldas y Vestidos</option>
                    <option value="Blusas y poleras" selected>Blusas y Poleras</option>
                    <option value="pantalones y calzas" selected>Pantalones y Calzas</option>

                </select>


            </li>


            //- Brochure ID
            <li class="col-12-12 form-55-input-1 none">

                <div class="label"><label class="opacity-5" for="brochure_id_es"><span class="material-icons relative" style="bottom: -6px">fingerprint</span> Brochure ID</label></div>

                <select class="rounded wide" name="entry.1320793157" id="brochure_id_es">
                    <option value="ID_BROCHURE" selected> BROCHURE_ID </option>
                </select>

            </li>


            //- Labels IDs
            <li class="col-12-12 form-55-input-1 none">

                <div class="label"><label class="opacity-5" for="labels_ids"><span class="material-icons relative" style="bottom: -6px">record_voice_over</span> Labels IDs</label></div>

                <input class="rounded wide" id="labels_ids" type="text" name="entry.136271512" value="LABELS_IDS" required/>


            </li>



            
        </ul>

        <button type="submit" class="button wide blue rounded cropBottom margin-top-2" id="form_program_submit">Enviar Reserva</button>


    </form>



