

.icon-1 {
  transform: scale(.1);
  margin: -30px -18px -30px -30px;
}

.icon-2 {
  transform: scale(.2);
  margin: -30px -25px -30px -30px;
}

// Buttom Emoji
.icon-3 {
  transform: scale(.3);
  margin: -30px -23px -30px -25px;
}


.icon-4 {
  transform: scale(.4);
  margin: -30px -30px -25px -30px;
}

// Flag Card
.icon-5 {
  transform: scale(.5);
  margin: -30px -18px -30px -30px;
}

.icon-6 {
  transform: scale(.6);
  margin: -30px -30px -5px -30px;
}

// Section Emoji
.icon-7 {
  transform: scale(.7);
  margin: -30px -30px -22px -30px;
}


.icon-8 {
  transform: scale(.8);
  margin: -30px -30px -10px -30px;
}

// Headers Emoji
.icon-9 {
  transform: scale(.9);
  margin: -30px -30px -22px -30px;
}


.flag-2 {
 transform: scale(.7);
 margin: -30px -12px -22px -12px;
}

.flag-5 {
 transform: scale(.7);
 margin: -30px -8px -22px -12px;
}

.flag-10 {
 transform: scale(.5);
 margin: -20px -20px -22px -20px;
}



/* '../../assets/img/sprites/css_sprites.webp'  */


.bg-airplane {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -289px -10px;
}
 
.bg-alojamiento {
  width: 73px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -10px -103px;
}
 
.bg-Asesor {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -289px -102px;
}
 
.bg-asistencia_en_viajes {
  width: 73px; height: 73px;
  background: url('../../assets/img/sprites/css_sprites.webp') -10px -10px;
}
 
.bg-beauty {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -289px -194px;
}
 
.bg-boletos_aereos {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -10px -288px;
}
 
.bg-circuitos_y_excursiones {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -102px -288px;
}
 
.bg-church {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -194px -288px;
}
 
.bg-contacto {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -286px -288px;
}
 
.bg-desert_island {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -381px -10px;
}
 
.bg-entrada_a_museos {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -381px -102px;
}
 
.bg-ferry {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -381px -194px;
}
 
.bg-equipaje {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -381px -286px;
}
 
.bg-globe {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -10px -380px;
}
 
.bg-guia_espiritual {
  width: 73px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -103px -103px;
}
 
.bg-guia_local {
  width: 73px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -196px -10px;
}

.bg-guia {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -102px -380px;
}
 
.bg-handshake {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -194px -380px;
}
 
.bg-luggage {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -286px -380px;
}
 
.bg-Maleta {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -378px -380px;
}
 
.bg-media_pension {
  width: 73px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -196px -102px;
}
 
.bg-page_facing {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -473px -10px;
}
 
.bg-Pago {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -473px -102px;
}
 
.bg-propinas {
  width: 72px; height: 73px;
  background: url('../../assets/img/sprites/css_sprites.webp') -10px -195px;
}
 
.bg-statue_of_liberty {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -473px -194px;
}
 
.bg-tasas_e_impuestos {
  width: 72px; height: 73px;
  background: url('../../assets/img/sprites/css_sprites.webp') -102px -195px;
}
 
.bg-ticket_tren {
  width: 73px; height: 73px;
  background: url('../../assets/img/sprites/css_sprites.webp') -103px -10px;
}
 
.bg-tour_leader {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -473px -286px;
}
 
.bg-traslados {
  width: 72px; height: 72px;
  background: url('../../assets/img/sprites/css_sprites.webp') -473px -378px;
}
 
.bg-visas {
  width: 72px; height: 73px;
  background: url('../../assets/img/sprites/css_sprites.webp') -194px -195px;
}
